.vscode/

datasets/lard/*
datasets/video/*

results/figs/*.jpg
results/figs/eda/*.jpg
results/figs/test/*.jpg
results/figs/train/*.jpg

results/tables/eda/*.csv
results/tables/metrics/*.csv

results/videos/*.mp4

runs/ultralytics
runs/mmdetection
weights/*.pt

src/data/LARD

*.log
