[submodule "3rdparty/ultralytics"]
	path = 3rdparty/ultralytics
	url = https://github.com/flywithliye/ultralytics.git
[submodule "3rdparty/mmdetection"]
	path = 3rdparty/mmdetection
	url = https://github.com/flywithliye/mmdetection.git
[submodule "src/data/LARD"]
	path = src/data/LARD
	url = https://github.com/flywithliye/LARD.git
[submodule "3rdparty/mmyolo"]
	path = 3rdparty/mmyolo
	url = https://github.com/flywithliye/mmyolo.git
